{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}
{% if page_title == 'Alcohol | Eatoo UK' %}
  {% render 'age-check' %}
{% endif %}

{%- assign limit = 12 -%}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}
{%- for i in (1..1) -%}
  {%- unless pageUrl contains "?" -%}{% break %}{%- endunless -%}
    {%- if pageUrl contains "view=12" -%}{%- assign limit = 12 -%}{%- endif -%}
    {%- if pageUrl contains "view=24" -%}{%- assign limit = 24 -%}{%- endif -%}
    {%- if pageUrl contains "view=36" -%}{%- assign limit = 36 -%}{%- endif -%}
{%- endfor -%}

{% unless request.path contains '/collections/grocery' or request.path contains '/collections/grower' or request.path contains '/collections/hot-pot' or request.path contains '/collections/all' %}
    {% assign unsortedProducts = collection.products | reverse | reverse %}
    {% for product in unsortedProducts %}
      {% assign sliceIndex = forloop.index0 %}
      {% assign aProduct = unsortedProducts | slice: sliceIndex, 1 %}
      {% if product.available == true %}
        {% if availableProducts.size == 0 %}
          {% assign availableProducts = aProduct %}
        {% else %}
          {% assign availableProducts = availableProducts | concat:aProduct %}
        {% endif %}
      {% else %}
        {% if unavailableProducts.size == 0 %}
          {% assign unavailableProducts = aProduct %}
        {% else %}
          {% assign unavailableProducts = unavailableProducts | concat: aProduct %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign sortedProducts = collection.products %}
    {% if unavailableProducts.size > 0 and availableProducts.size > 0 %}
      {% assign sortedProducts = availableProducts | concat:unavailableProducts %}
    {% endif %}
{% endunless %}
{% paginate collection.products by limit %}
{% assign collbanner = collection.metafields.banner.banner_image%}
{% if collbanner == null%}
  {% assign collbanner = collection.image | img_url:'1024x1024'%}
{%endif%}
<div class="collbanner" style="background-image: url('{{collbanner}}');">
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var x = $(location).attr('search');

    if(x == "?view=24"){
      $('#v24').addClass('vActive');
    }else if(x == "?view=36"){
      $('#v36').addClass('vActive');
    }else{
      jQuery('#v12').addClass('vActive');
    }

    jQuery('#view button').on('click', function(){
      window.location.replace(jQuery(this).val());
    });
  });
</script>
<header class="section-header text-center">
  <h2 style="font-weight: bold; font-size: 2em; margin: 20px 0 0 0;">{{ collection.title }}</h2>
  <hr class="hr--small">
</header>
<div class="grid">
  <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth cwidth">
    <div class="grid grid--small">
      <div class="grid__item large--one-third grid20">
        <b>Product Type</b>
         <ul class="tags tags--collection inline-list">
          <li{% unless current_tags %} class="tag--active"{% endunless %}>
            <a href="{% if collection.url == blank %}{{ routes.all_products_collection_url }}{% else %}{{ collection.url }}{% endif %}">
              {{ 'collections.general.all_of_collection' | t }}
            </a>
          </li>
          {% if request.path contains '/collections/hot-pot' or request.path contains '/collections/all' %}
          {% assign tag_coll = collection.handel %} 
            {% assign tag = 'Broth' %}
            {% if current_tags contains tag %}
              <li class="tag--active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {% else %}
              <li class="tag-list">{{ tag | link_to_tag: tag}} {{tag_coll}}</li>
            {% endif %}
          {% else %}
          {% endif %}

          {% for tag in collection.all_tags %}
            {% if current_tags contains tag %}
              {% if tag == 'Equipment' or tag == 'Set' or tag == 'Broth' or tag == 'Drink'%}
                <li class="tag--active" style="display: none;">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li class="tag--active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% endif %}
            {% else %}
              {% if tag == 'Equipment' or tag == 'Set' or tag == 'Broth' or tag == 'Drink' %}
                <li style="display: none;"> {{ tag | link_to_tag: tag }} </li>
              {% elsif request.path contains '/collections/sukiyaki' or request.path contains '/collections/budae-jjigae' or request.path contains '/collections/hot-pot' or request.path contains '/collections/bbq' or request.path contains '/collections/hot-deal' or request.path contains '/collections/by-air' %}
                {% if tag == 'Leaves' or tag == 'Milk & Egg' or tag == 'Herbs' or tag == 'Rice & Noodle' or tag == 'Roots' %}
                  <li style="display: none;"> {{ tag | link_to_tag: tag }} </li>
                {% else %}
                  <li class="tag-list">{{ tag | link_to_tag: tag }} {{tag_coll}}</li>
                {% endif %}
              {% else %}
                <li class="tag-list">
                  {% comment %}
                    Use link_to_add_tag if you want to allow filtering
                    by multiple tags
                  {% endcomment %}
                  {{ tag | link_to_tag: tag }} {{tag_coll}}
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if request.path contains '/collections/budae-jjigae' or request.path contains '/collections/sukiyaki' or request.path contains '/collections/bbq' %}
            {% assign tag = 'Drink' %}
            {% if current_tags contains tag %}
              <li class="tag--active">
                {{ tag | link_to_remove_tag: tag }}
              </li>
            {% else %}
              <li class="tag-list">{{ tag | link_to_tag: tag}} {{tag_coll}}</li>
            {% endif %}

            {% assign tag = 'Equipment' %}
            {% if request.path contains '/collections/bbq' %}
            {% else %}
              {% if current_tags contains tag %}
                <li class="tag--active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li class="tag-list">{{ tag | link_to_tag: tag}} {{tag_coll}}</li>
              {% endif %}
            {% endif %}
          {% else %}
            {% if request.path contains '/collections/hot-pot' or request.path contains '/collections/all' %}
              {% assign tag = 'Set' %}
              {% if current_tags contains tag %}
                <li class="tag--active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li class="tag-list">{{ tag | link_to_tag: tag}} {{tag_coll}}</li>
              {% endif %}
              
              {% assign tag = 'Drink' %}
              {% if current_tags contains tag %}
                <li class="tag--active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li class="tag-list">{{ tag | link_to_tag: tag}} {{tag_coll}}</li>
              {% endif %}

              {% assign tag = 'Equipment' %}
              {% if current_tags contains tag %}
                <li class="tag--active">
                  {{ tag | link_to_remove_tag: tag }}
                </li>
              {% else %}
                <li class="tag-list">{{ tag | link_to_tag: tag}} {{tag_coll}}</li>
              {% endif %}
            {% else %}
            {% endif %}
          {% endif %}
        </ul>
        <b for="sel1">Product per page</b>
        <div id="view">
          <button id="v12" type="submit" value="/collections/{{ collection.handle }}?view=12">12</button>
          <button id="v24" type="submit" value="/collections/{{ collection.handle }}?view=24">24</button>
          <button id="v36" type="submit" value="/collections/{{ collection.handle }}?view=36">36</button>
        </div>
      </div>
      <div class="grid__item large--two-thirds grid80">
        {% assign grid_item_width = 'small--one-half medium--one-half large--one-third' %}
        {% if request.path contains '/collections/grocery' or request.path contains '/collections/grower' or request.path contains '/collections/hot-pot' or request.path contains '/collections/all' %}
          {% for product in collection.products %}
            {% include 'product-grid-item' %}
          {% endfor %}
        {% else %}
          {% for product in collection.products %}
            {% assign sortedProductsIndex = paginate.current_offset | plus: forloop.index0 %}
            {% include 'product-grid-item', product: sortedProducts[sortedProductsIndex] %}
          {% else %}
            {% if collection.handle == 'all' %}
              {% comment %}
                Add default products to help with onboarding for collections/all only
              {% endcomment %}
              {% include 'onboarding-featured-products' %}
            {% else %}
              {% comment %}
                If collection exists but is empty, display message
              {% endcomment %}
              <div class="grid__item text-center">
                <p>{{ 'collections.general.no_matches' | t }}</p>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>


{% if paginate.pages > 1 %}
  {% include 'pagination' %}
{% endif %}

<div style="text-align: center;" >
  <p></p>
  <img alt="Soybean" title="Soybean" src="https://img.icons8.com/metro/15/000000/soy.png"><a> Soybean </a>
  <img alt="Crustaceans" title="Crustaceans" src="https://img.icons8.com/ios/15/000000/crab.png"><a> Crustaceans </a>
  <img alt="Fish" title="Fish" src="https://img.icons8.com/small/15/000000/whole-fish.png"><a> Fish </a>
  <img alt="Milk" title="Milk" src="https://img.icons8.com/ios/15/000000/milk-bottle.png"><a> Milk </a>
  <img alt="Cereals containing gluten" title="Cereals containing gluten" src="https://img.icons8.com/ios/15/000000/wheat.png"><a> Cereals </a>
  <img alt="Sulphur Dioxide" title="Sulphur Dioxide" src="https://cdn.shopify.com/s/files/1/0093/0306/4631/files/SO2.png?v=1578372392"><a> SO2 </a>
  <img alt="Vegetarian" title="Vegetarian" src="https://img.icons8.com/ios/15/000000/vegetarian-food.png"><a> Vegetarian </a>
  <img alt="Dipping Sauce" title="Dipping Sauce" src="https://img.icons8.com/ios/15/000000/worcestershire-sauce.png"><a> Sauce </a>
  <p style="font-size: 10px"> If you have any queries about food allergies in your meal, feel free to <a href="/pages/contact-us">contact us </a>before placing the order. Thank you.</p>
{% endpaginate %}
