<style>
/* position dots in carousel */
.flickity-slider{
  padding-top:8px;
}
.flickity-page-dots {
  bottom: 3px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #eaeaea;
  /*border: 2px solid #2d2d2d;*/
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #c65a17;
}
@media only screen and (max-width: 768px) {
  .flickity-page-dots {
    bottom: -30px;
  }
}
</style>

<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">
 <div style="margin: 50px 0;"class="wrapper">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="h1 section-header__title">{{ section.settings.title | escape }}</h2>
        <hr class="hr--small">
      </div>
    {% endif %}
   <div class="grid-uniform">

  <div class="main-carousel">
      {% for product in collections[section.settings.home_featured_products].products%}
        {%comment%}assign date_published = product.published_at | date:'%s'
      assign date_now = 'now' | date:'%s'
      assign date_difference = date_now | minus: date_published
      if date_difference<1209600% {%endcomment%}
        {% if section.settings.home_featured_products == "best-seller" %}
            {% include 'product-slide-grid' %}
        {%else%}
          {% assign days = 30 %}
          {% assign period_time = days | times: 24 | times: 60 | times: 60 %}
          {% assign date_now = 'now' | date:'%s' %}
          {% assign date_finished = product.published_at | date:'%s' | plus: period_time | date:'%s' %}
          {%if date_finished > date_now %}
            {% include 'product-slide-grid' %}
          {%endif%}
        {% endif %}
      {% endfor %}
    </div>
     <!--<div class="main-carousel1">
  {%comment%}
    {% for product in collections[section.settings.home_featured_products].products %}
      {% include 'product-grid-item' %}
    {% endfor %}{%endcomment%}
  </div>
      <div class="main-carousel1">
       <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
        <div><h3>4</h3></div>
        <div><h3>5</h3></div>
        <div><h3>6</h3></div>
      </div>-->
  </div>
  </div>
</div>

<script>
$('.main-carousel').flickity({
  // options
  cellAlign: 'left',
  autoPlay: 7000,
  groupCells: true,
  contain: true,
  prevNextButtons: false,
  groupCells: 4,
  pageDots: true
});
</script>

{% schema %}
{
  "name": {
    "da": "Udvalgt kollektion",
    "de": "Featured Kategorie",
    "en": "Featured collection Slide",
    "es": "colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "hi": "फ़ीचर्ड कलेक्शन",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "ms": "Koleksi yang ditampilkan",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "ms": "Tajuk",
        "nb": "Overskrift",
        "nl": "Kop",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Featured Kategorie",
        "en": "Featured collection Slide",
        "es": "colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "ms": "Koleksi yang ditampilkan",
        "nb": "Fremhevet samling",
        "nl": "Uitgelichte collectie",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      }
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": {
        "da": "Samling",
        "de": "Kategorie",
        "en": "Collection",
        "es": "colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "ms": "Koleksi",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Featured Kategorie",
        "en": "Featured collection Slide",
        "es": "colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "ms": "Koleksi yang ditampilkan",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "da": "Samling",
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fi": "Kokoelma",
        "fr": "Collection",
        "hi": "कलेक्शन",
        "it": "Collezione",
        "ja": "コレクション",
        "ko": "컬렉션",
        "ms": "Koleksi",
        "nb": "Samling",
        "nl": "Collectie",
        "pt-BR": "Coleção",
        "pt-PT": "Coleção",
        "sv": "Produktserie",
        "th": "คอลเลกชัน",
        "zh-CN": "收藏",
        "zh-TW": "商品系列"
      }
    }
  ],
  "blocks": []
}
{% endschema %}
