#choice-actions.sticky {    
    background-color: rgba(255, 255, 255, 0.7) !important;
    height: 140px !important;
}

.bold-ro__choice-header{
	padding-bottom: 0 !important;
	margin-top: 67px !important;
}

span.bold-product__quantity-decrease, span.bold-product__quantity-increase{
	font-weight: bold;
	font-size: 16px;
}

.manage-subscription-page{
	margin: 100px 0;
}

.ro_widget {
	margin: 0 auto;
}

.bold-ro__recurring-text, .bold-ro__subscription-only {
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
}