<div class="page-width">
  <br/><br/>
  
  <div class="faq-left">
    <img src="https://cdn.shopify.com/s/files/1/0093/0306/4631/files/FAQ3_d43091c4-1423-4020-9518-187088dc265b.jpg?v=1578990578" style="display:block;height:680px" alt="faq" title="FAQ | Eatoo UK" />
  </div>
   <div class="faq-right">

    <header class="section-header" style="margin-bottom:0px;">
      <h2 class="section-header__title" style="font-weight: bold; font-size: 2em;"><b>{{ page.title }}</b></h2>
    </header>
    <div class="faqarea"> 
      <h2>ACCOUNT</h2>
      <button class="accordion">What are the benefits of having an account?</button>
      <div class="panel">
        <p>By owning an account you will get the latest offer, earn and spend the membership points, view your order history and more.</p>
      </div>
      <button class="accordion">What if I have forgotten or don't know my password?</button>
      <div class="panel">
        <p>Don't worry, you can reset your password. Go to login page, and find the text "Forget password", follow the steps, that's it.</p>
      </div>
      <button class="accordion">Will my email address be visible to other users?</button>
      <div class="panel">
        <p>No, your email address is kept hidden and safe with us.</p>
      </div>
      <button class="accordion">What is "Eater Calories"?</button>
      <div class="panel">
        <p>Eater Calories is our loyalty program points, you earn the points in different ways. Click the icon on the bottom left of the screen to view more details.</p>
      </div>
      <button class="accordion">How can I earn "Eater Calories" points?</button>
      <div class="panel">
        <p>You can earn the points by complete an order, referral program and more. Click the icon on the bottom left of the screen to view more details.</p>
      </div>
      <button class="accordion">How can I use "Eater Calories" points?</button>
      <div class="panel">
        <p>You can use it at the check out, first click the icon on the bottom left of the screen to open the loyalty program and use your "Eater Calories" points to redeem voucher code. Then apply the code at the check out page.</p>
      </div>

      <h2>SHIPPING</h2>
      <button class="accordion">How long will I receive my orders?</button>
      <div class="panel">
        <p>Depending on where you live, the time it may take for your exchanged product to reach you, may vary.</p>
      </div>
      <!--<button class="accordion">How do I track the order?</button>
      <div class="panel">
        <p>Go to our website and click "Track Order". Then enter your order number and email to track the order.</p>
      </div>-->
      <button class="accordion">What is the shipping fee?</button>
      <div class="panel">
        <strong><p>London:</p></strong>
        <ul>
          <li><p>Standard Delivery 0 - 2 miles: £4.00</p></li>
          <li><p>Standard Delivery 2 - 4 miles: £6.00</p></li>
          <li><p>Standard Delivery 4 - 7 miles: £8.00</p></li>
        </ul>
        <strong><p>Manchester:</p></strong>
        <ul>
          <li><p>Standard Delivery 0 - 5 miles: £5.00</p></li>
        </ul>
        <!--<p>Express Delivery 4 miles within 2 hours: £10.00</p>-->
      </div>
      <button class="accordion">Where do you deliver?</button>
      <div class="panel">
        <p>At the moment we only deliver our goods inside London or Manchester, we are working on other cities, so stay tuned!! Our delivery range is within up to 7 miles  from our delivery centre. <br>
        <strong><p>London:</p></strong>
        <ul>
          <li>Delivery centre 1 can delivery up to 7 miles, post code: E1 5BW </li>
          <li>Delivery centre 2 can delivery up to 7 miles, post code: WC1B 4HH</li>
        </ul>
        <strong><p>Manchester:</p></strong>
        <ul>
          <li>Delivery centre can delivery up to 5 miles, post code: M13 9RD </li>
        </ul>
        Please do use Google Map to check the distances, <a href="https://www.google.co.uk/maps/" style="font-weight: bold;">Google Map</a>
        <br>
        Thank you, if you have any. further question, feel free to talk to us.</p>
      </div>
      <!--<button class="accordion">When will I receive my delivery tracking email?</button>
      <div class="panel">
        <p>You will receiver the delivery tracking email after you completed the order. If you have not receive an email please contact us at contact@eatoo.co.uk with your order name and email.</p>
      </div>-->
      <button class="accordion">How will my chilled order be delivered?</button>
      <div class="panel">
        <p>All the chilled order will be packed by using puffing package that is using wool as insulator. Wool can minimise humidity and condensation in transit and then remain at a stable temperature to ensure outstanding insulation of your goods for at least 24 hours.</p>
      </div>

      <h2>ORDER</h2>
      <button class="accordion">Can I cancel/change my order?</button>
      <div class="panel">
        <p>It is possible to cancel or make changes to your order before it is dispatched. To cancel/change your order, please contact us at contact@eatoo.co.uk and we will cancel/change the order for you immediately. </p>
      </div>
      <button class="accordion">What if I have received wrong/missing item(s) in my package?</button>
      <div class="panel">
        <p>Please contact us immediately so that we can arrange either a full refund or to resent your item(s).</p>
      </div>

      <h2>PACKAGES</h2>
      <button class="accordion">Is your packaging recyclable?</button>
      <div class="panel">
        <p>All of our packaging is recyclable.</p>
      </div>
      <button class="accordion">What are the pouches and liners made of?</button>
      <div class="panel">
        <p>We chose "puffin packaging" as our package provider. The pouches and liners are made from all natural, 100% sheep's wool, housed inside a recyclable, food grade polyethylene.</p>
      </div>
      <button class="accordion">How to return the equipment that borrowed?</button>
      <div class="panel">
        <p>Go to Return Equipment page, and fill in the details, and we will pick up the equipment.</p>
      </div>
      <button class="accordion">Can I keep the equipment and package?</button>
      <div class="panel">
        <p>Of course you can. Once you have decided to keep the equipment, you will not get the deposit back that paid earlier to borrow the equipment.</p>
      </div>

      <h2>PAYMENTS</h2>
      <button class="accordion">How to apply promotion code at the check out page?</button>
      <div class="panel">
        <p>Simply copy and paste the promotion code to the checkout page, you will find an area where shows "Discount code".</p>
      </div>
      <button class="accordion">What payment methods do you accept?</button>
      <div class="panel">
        <p>We accept, Visa, Mastercard, AMEX, JCB, Diners Club, Maestro. Alipay and WeChat Pay are coming soon.</p>
      </div>
      <button class="accordion">Do you accept cash payment?</button>
      <div class="panel">
        <p>Unfortunately, we don't accept cash payment at the moment.</p>
      </div>
      <button class="accordion">What currencies can I pay in?</button>
      <div class="panel">
        <p>Currently, we only accept Pound sterling (GBP).</p><!--, however if you are using WeChat pay or Alipay the payment provider will convert the currency to RMB.</p-->
      </div>
      <!--button class="accordion">What currency do I pay in if I am using WeChat Pay or Alipay?</button>
      <div class="panel">
        <p>If you are using WeChat Pay or Alipay, RMB is the currency that you pay in.</p>
      </div-->
      
      <!--
      <button class="accordion"></button>
      <div class="panel">
        <p></p>
      </div>
      -->

    </div>    
  </div>
</div>
<div style="clear:both">&nbsp;</div>

<style>
  .main-content {
    margin-top: 30px;
  }

  @media screen and (max-width: 768px) {
    .main-content {
      margin-top: 40px;
    }
  }

  .faqarea {
    height: 620px;
    width: 100%;
    overflow: auto;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: #eaeaea;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
    /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
</style>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    for(var j = 0; j < acc.length; j++) {
      acc[j].nextElementSibling.style.maxHeight = null;
      acc[j].classList.remove('active');
    }
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>