<!-- /templates/page.full-width.liquid -->
<header class="section-header text-center">
  <h2 style="font-size: 2em;">{{ page.title }}</h2>
  <hr class="hr--small">
</header>

<div class="rte">
  {{ page.content }}
</div>
