<div class="page-width">
  <br/><br/>
  
  <div class="faq-left">
    <img src="https://cdn.shopify.com/s/files/1/0093/0306/4631/files/FAQ3_d43091c4-1423-4020-9518-187088dc265b.jpg?v=1578990578" style="display:block;height:680px" alt="faq" title="FAQ | Eatoo UK" />
  </div>
   <div class="faq-right">

    <header class="section-header" style="margin-bottom:0px;">
      <h2 class="section-header__title" style="font-weight: bold; font-size: 2em;"><b>{{ page.title }}</b></h2>
    </header>
    <div class="faqarea"> 
      <h2>SHIPPING</h2>
      <button class="accordion active">Where do you deliver?</button>
      <div class="panel" style="max-height: 856px;">
        <p>At the moment we only deliver our goods within Greater London. Our delivery range is within up to M25 from our delivery centre.<p>
        <p><strong>Greater London:</strong></p>
        <p>Our delivery centre can delivery up to M25, postcode: WC1B 4HH</p>
        <p>Please do use Google Map to check the distances, Google Map, <a href="https://www.google.co.uk/maps/dir/WC1B+4HH,+Southampton+Row,+Holborn,+London,+UK//@51.5211027,-0.1260039,17z/data=!4m8!4m7!1m5!1m1!1s0x48761b314fca8b0f:0x70407914cf616a38!2m2!1d-0.1238099!2d51.5211027!1m0" style="font-weight: bold;">Google Map</a>
        <br>
        Thank you, if you have any further question, please do feel free to contact us.</p>
        <p><strong>Outside London:</strong></p>
        <p>Eatoo is now on a trial of expanding our delivery range to outside London. The process for you to place an order remains the same by just simply follow the steps on our website, the DPD delivery fee  with £12.99 will be added at the checkout.</p>
        <p>DPD shipping method only available to England, Wales, and Parts of Scotland. We aim to dispatch your order within 2 - 4 working days from the date the order was placed.</p>
        <p>In the meantime, you will also be provided with a tracking number for DPD parcel shipment. The items you purchased will be box up with ice packs and eco-friendly wool packaging to keep them fresh all the way to your doorstep.</p>
      </div>
      <button class="accordion">What is the cost of the shipping fee?</button>
      <div class="panel">
        <strong><p>London:</p></strong>
        <ul>
          <li><p>Standard Delivery 0 - 2 miles: £4.00</p></li>
          <li><p>Standard Delivery 2 - 4 miles: £6.00</p></li>
          <li><p>Standard Delivery 4 - 7 miles: £8.00</p></li>
          <li><p>Standard Delivery 7 miles - M25: £10.00</p></li>
        </ul>
        <p>The delivery fee will be calculated at the checkout page.</p>
        <p>Keep in mind we cannot guaranteed the delivery time for "Standard Delivery 7 miles - M25"</p>
        strong><p>Outside London:</p></strong>
        <ul>
          <li><p>DPD Delivery: £12.99</p></li>
        </ul>
        <p>DPD shipping method only available to England, Wales, and Parts of Scotland. We aim to dispatch your order within 2 - 4 working days from the date the order was placed.</p>
      </div>
      <button class="accordion">How long will it take for my order to be delivered?</button>
      <div class="panel">
        <p>Depending on where you live and the traffic, we will always try our best to deliver your goods to you as fast as we can.</p>
        <p>Deliveries outside London will be next day working day after your parcel is collected by the courier. You can track and trace by using the tracking number we provide you.</p>
      </div>
      <button class="accordion">How will I know when my order has been dispatched?</button>
      <div class="panel">
        <p>We will send you an email on the day of delivery to confirm your order has been shipped from our delivery centre. In addition, you will receive a call from our driver when upon their arrival at your address.</p>
      </div>
      <button class="accordion">What happens if I am not at home to accept my delivery?</button>
      <div class="panel">
        <p>Don’t worry, if you are not at home then receive a phone call or text message from our team. Our driver will leave your parcel at a safe place (or hand it to your receptionist/concierge if your address is an apartment). If there is no safe place, your order will return to our delivery centre to be re-arranged. (Please note: additional shipping fee might be charged.)</p>
      </div>
      <button class="accordion">Do you offer free shipping?</button>
      <div class="panel">
        <p>
          <strong>YES!</strong> We offer Free Shipping on orders over £80 within 7 miles from our delivery centre and £150 outside 7 miles but within M25!
        </p>
      </div>
      <button class="accordion">I can't select a delivery slot?</button>
      <div class="panel">
        <p>
          We are sorry that you haven't been able to book a slot, there may not be availability for this selected date. If you believe there might be a technical related issue, please do feel free to contact us.
        </p>
      </div>
      <button class="accordion">Will you contact me before delivery?</button>
      <div class="panel">
        <p>
          We will send you an email on the day of delivery to confirm  your order has been shipped from our delivery centre. In addition, you will receive a call from our driver when driver is arrived at your address.
        </p>
      </div>
      <button class="accordion">How will my chilled order be delivered?</button>
      <div class="panel">
        <p>All the chilled order will be packed by using puffing package that is using wool as insulator. Wool can minimise humidity and condensation in transit and then remain at a stable temperature to ensure outstanding insulation of your goods for at least 24 hours.</p>
      </div>

      <h2>ACCOUNT</h2>
      <button class="accordion">What are the benefits of having an account?</button>
      <div class="panel">
        <p>By owning an account you will get the latest offer, earn and spend the membership points, view your order history and more.</p>
      </div>
      <button class="accordion">What if I have forgotten or don't know my password?</button>
      <div class="panel">
        <p>Don't worry, you can reset your password. Go to login page, and find the text "Forget password", follow the steps, that's it.</p>
      </div>
      <button class="accordion">Will my email address be visible to other users?</button>
      <div class="panel">
        <p>No, your email address is kept hidden and safe with us.</p>
      </div>
      <button class="accordion">What is "Eater Calories"?</button>
      <div class="panel">
        <p>Eater Calories is our loyalty program points, you earn the points in different ways. Click the icon at the bottom right of the screen to view more details.</p>
      </div>
      <button class="accordion">How can I earn "Eater Calories" points?</button>
      <div class="panel">
        <p>You can earn the points by complete an order, referral program and more. Click the icon at the bottom right of the screen to view more details.</p>
      </div>
      <button class="accordion">How can I use "Eater Calories" points?</button>
      <div class="panel">
        <p>You can use it at the checkout page, first click the icon at the bottom right of the screen to open the loyalty program and use your "Eater Calories" points to redeem voucher code. Then apply the code at the checkout page.</p>
      </div>

      <h2>ORDER</h2>
      <button class="accordion"> Can I place an order over the phone?</button>
      <div class="panel">
        <p>Our Customer Service team is always on hand to provide support and guidance. All orders have to be placed through your online account but they're more than happy to help you do so.</p>
        <p>Get in touch with them via the blue message button on Eatoo.co.uk; Email: contact@eatoo.co.uk or call: 020 8050 0060 (Mon-Sat, 10 am - 6 pm).</p>
      </div>
      <button class="accordion">How do I make changes to my order?</button>
      <div class="panel">
        <p>You can make amendments and cancel your order before 6 pm the day before your delivery is due.</p>
        <p>All amendment requests need to be submitted before 6 pm by contacting our customer service team.</p>
        <p>When amending your order, you can:</p>
        <ul>
          <li>Add items</li>
          <li>Edit quantities</li>
          <li>Remove items</li>
          <li>Update substitute preferences</li>
          <li>Change your delivery date/time</li>
          <li>Change delivery address or contact details</li>
        </ul>
      </div>
      <button class="accordion">Where is my delivery?</button>
      <div class="panel">
        <p>Sorry, we're not able to amend your time slot on the day of delivery. If you wish to change your delivery time slot this can be done before 6 pm the night before your delivery, please call or email us to re-arrange your time slot.</p>
      </div>
      <button class="accordion">All about Self Pickup</button>
      <div class="panel">
        <p>Our Self-Pickup service is a convenient way for you to pick up the order you've ordered online from our website. There’s also no minimum spend required.</p>
        <p>You will receive a confirmation email before you can pick up your order, all orders must be <strong>collected before 5:00pm</strong> on the collecting day.</p>
      </div>
      <button class="accordion">An item is missing from my delivery?</button>
      <div class="panel">
        <strong><p>Please contact us if you have items in your Grocery Delivery that are:</p></strong>
        <ul>
          <li>Missing</li>
          <li>Short in their ‘use by’ date (within 24 hours of delivery only; including items dated the day of, or the day after delivery)</li>
          <li>Damaged</li>
        </ul>
        <p>Please contact contact@eatoo.co.uk for any amendment.</p>
      </div>

      <h2>PACKAGES</h2>
      <button class="accordion">Is your packaging recyclable?</button>
      <div class="panel">
        <p>All of our packaging is recyclable.</p>
      </div>
      <button class="accordion">What are the pouches and liners made of?</button>
      <div class="panel">
        <p>We chose "puffin packaging" as our package provider. The pouches and liners are made from all natural, 100% sheep's wool, housed inside a recyclable, food grade polyethylene.</p>
      </div>
      <button class="accordion">How do I return the equipment that borrowed?</button>
      <div class="panel">
        <p>Go to Return Equipment page, and fill in the details, and we will pick up the equipment.</p>
      </div>
      <button class="accordion">Can I keep the equipment and package?</button>
      <div class="panel">
        <p>Of course you can. Once you have decided to keep the equipment, you will not get the deposit back that paid earlier to borrow the equipment.</p>
      </div>

      <h2>PAYMENTS</h2>
      <button class="accordion">How to apply promotion code at the checkout page?</button>
      <div class="panel">
        <p>Simply copy and paste the promotion code to the checkout page, you will find an area where shows "Discount code".</p>
      </div>
      <button class="accordion">What payment methods do you accept?</button>
      <div class="panel">
        <p>We accept card payments (Visa, Mastercard, AMEX, JCB, Diners Club, Maestro) and Paypal. Alipay and WeChat Pay are coming soon.</p>
      </div>
      <button class="accordion">Do you accept cash payment?</button>
      <div class="panel">
        <p>Unfortunately, we don't accept cash payment at the moment.</p>
      </div>
      <button class="accordion">What currencies can I pay in?</button>
      <div class="panel">
        <p>Currently, we only accept Pound sterling (GBP).</p><!--, however if you are using WeChat pay or Alipay the payment provider will convert the currency to RMB.</p-->
      </div>
      <!--button class="accordion">What currency do I pay in if I am using WeChat Pay or Alipay?</button>
      <div class="panel">
        <p>If you are using WeChat Pay or Alipay, RMB is the currency that you pay in.</p>
      </div-->
      
      <!--
      <button class="accordion"></button>
      <div class="panel">
        <p></p>
      </div>
      -->

    </div>    
  </div>
</div>
<div style="clear:both">&nbsp;</div>

<style>
  .main-content {
    margin-top: 30px;
  }

  @media screen and (max-width: 768px) {
    .main-content {
      margin-top: 40px;
    }
  }

  .faqarea {
    height: 620px;
    width: 100%;
    overflow: auto;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    background-color: #eaeaea;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
    /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
</style>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    for(var j = 0; j < acc.length; j++) {
      acc[j].nextElementSibling.style.maxHeight = null;
      acc[j].classList.remove('active');
    }
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>