<img src="https://cdn.shopify.com/s/files/1/0093/0306/4631/files/newspaper.svg?v=1598586633" alt="Press" title="Press | Eatoo UK" />
<div class="page-width">
  <header class="section-header text-center" style="margin-bottom: 0px;">
    <h2 style="font-weight: bold; font-size: 2em;" class="section-header__title h2">
      <b>{{ page.title }}</b>
    </h2>
    <hr class="hr--small">
  </header>

  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<style>
  .main-content {
    margin-top: 80px;
  }
    
  @media screen and (max-width: 768px) {
    .main-content {
      margin-top: 100px;
    }
  }
</style>