<!-- /templates/product-password.liquid -->
{% comment %}
  The contents of the product-password.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<div class="productPass" id="protected" style="display: block;">
	<title>Top Secret</title>
	<div class="form">
		<form>
	    	<h2><img src="https://img.icons8.com/ios/76/000000/private2.png"/></h2>
	    	<br>
	    	<input type="password" id="pswd">
	    	<input class="passSubmit" type="button" value="Submit" onclick="checkPswd();" />
		</form>
	</div>
</div>

<div id="passed" style="display: none;">
	{% section 'product-template' %}
</div>

<script type="text/javascript">
    function checkPswd() {
        var confirmPassword = "buildabox";
        var password = document.getElementById("pswd").value;
        if (password == confirmPassword) {
            $("#passed").css("display","block");
            $("#protected").css("display","none");
        }
        else{
            alert("Passwords do not match.");
        }
    }

    var stopSubmission = false;
	jQuery('#pswd').keydown(function(e){
	   if(e.keyCode == 13){
	       checkPswd();
	       stopSubmission = true;
	   }else{
	    	stopSubmission = false;
	   }
	});

	jQuery('form').submit(function(){
	    if(stopSubmission){
	        return false;
	    }
	});
</script>

<style>
	.main-content {
	 	margin-top: 110px;
	}

	.productPass{
		padding: 150px 300px;
		vertical-align: middle;
		text-align: center;
	}

	.form {
	  position: relative;
	  z-index: 1;
	  max-width: 360px;
	  margin: 0 auto 100px;
	  padding: 45px;
	  text-align: center;
	  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	  border-radius: 10px;
	}

	.form input {
	  outline: 0;
	  background: #dcdcdc;
	  width: 100%;
	  border: 0;
	  margin: 0 0 15px;
	  padding: 15px;
	  box-sizing: border-box;
	  font-size: 16px;
	  border-radius: 30px;
	}

	.passSubmit{
		background-color: #d2b259 !important;
		font-style: normal;
		font-weight: bold;
		text-transform: uppercase;
	}

	@media screen and (max-width: 768px) {
	  .main-content {
	  	margin-top: 100px;
	  }
	  
	  .text-left {
	  	display:none;
	  }

	  .productPass{
		padding: 100px 30px;
	  }
	}
</style>